# GitHub Personal Access Token https://github.com/settings/tokens permissions to the following endpoints:
# - https://developer.github.com/v3/activity/events/#list-events-that-a-user-has-received
# - https://developer.github.com/v3/activity/events/#list-events-for-an-organization
GH_PAT=xxx

# GitHub username
GH_USERNAME=xxx

# An array that's parseable by `JSON.parse()` of the organizations to included in the data retrieval
GH_ORGANIZATIONS=["xxx"]

# A slack incoming webhook url https://api.slack.com/incoming-webhooks to post results to
SLACK_WEBHOOK_URL=xxx

# AWS Credentials (used with serverless for deployments)
AWS_ACCESS_KEY_ID=xxx
AWS_SECRET_ACCESS_KEY=xxx